<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<title>运营系统</title>
<link rel="stylesheet" href="/statics/dataManage/css/style.css">
<link rel="stylesheet" href="/statics/admin/common/layui/css/layui.css"  media="all">
<link rel="stylesheet" href="/statics/dataManage/css/bootstrap.css">
<link rel="stylesheet" href="/statics/dataManage/css/css.css?v=2019062101">
<link rel="stylesheet" href="/statics/css/zh-cn-system.css"  type="text/css">
<link rel="stylesheet" href="/statics/dataManage/css/inner.css?v=2018090902">
<link rel="stylesheet" href="/statics/admin/common/css/css.css?v=2019062101">
<link rel="stylesheet" href="/statics/admin/common/css/inner.css?v=2018090903">
<script type="text/javascript" src="/statics/dataManage/js/jquery-1.11.3.min.js"></script>
<script type="text/javascript" src="/statics/js/layer/3.1.1/layer.js"></script>
<script type="text/javascript" src="/statics/js/laydate/laydate.js"></script>
<!--<script type="text/javascript" src="/statics/dataManage/js/bootstrap.min.js"></script>-->
<script type="text/javascript" src="/statics/dataManage/js/sdmenu.js"></script>
<script type="text/javascript" src="/statics/dataManage/js/global.js"></script>
<script type="text/javascript" src="/statics/admin/common/js/tool.js"></script>
<script charset="utf-8" src="/statics/admin/common/js/colResizable.js"></script>
<script src="/statics/admin/common/layui/layui.js" charset="utf-8"></script>
{if !in_array($_GET['c'],array('datas','doing'))}<script src="/statics/admin/common/js/socket.js?v=2019062101"></script>{/if}
<style>
.ct-header-menu { height: 40px; line-height: 40px; padding: 0 20px; background-color: whitesmoke; overflow: hidden; }
.ct-header-menu ul { margin: 0; overflow: hidden; }
.ct-header-menu ul li { float: left; padding: 0 10px; line-height: 40px; }
.ct-header-menu a { color: #666; }
.ct-header-menu span { display: block; float: left; height: 40px; line-height: 40px; }
.ct-header-menu .header-menu-inner { float: right; }
</style>
</head>
