{template $this->template,'header_common',$this->style}
<script type="text/javascript" src="/statics/admin/common/js/region.js"></script>
<style>
.role-do ul { margin: 0; display: flex;flex-wrap: wrap;}
.role-do ul li { overflow: hidden; border-bottom: 1px #eee solid; padding: 10px 0;width: 50%;}
.role-do ul li .role-do-strw1 { float: left; width: 90px; height: 30px; line-height: 30px; padding-left: 5px; }
.role-do ul li .role-do-val { float: left; margin-right: 30px; }
.role-do ul li .role-do-val .input-text { width: 160px; height: 30px; padding: 0; padding-left: 5px; border-radius: 3px; }
.role-do ul li .role-do-val .input-textbg { background: #f7f7f7;}
.role-do ul li .role-do-val .input-textarea { width: 250px; height: 100px; border-radius: 3px; outline: none; resize: none; }
.role-do-val label { float: left; margin: 5px 10px 0 0; }
.role-do-val input[type="radio"] { margin: 0; margin-right: 5px; }
.role-do-val select { width: 166px; height: 30px; }
.role-do-val .input-tips { margin-left: 15px; color: #666; }
.role-do-val .editor-inner { width: 600px; }
.role-do-btn a { display: block; width: 80px; float: left; height: 30px; line-height: 30px; text-align: center; border-radius: 3px; margin-right: 10px; }
.role-do-btn a.btn-send { background-color: #234686; color: #fff; }
.role-do-btn a.btn-close { background-color: #e0e0e0; color: #666; }
.role-do ul li .role-do-val .input-date {
    width: 50px;
    height: 30px;
    padding: 0;
    padding-left: 5px;
    border-radius: 3px;
}
.role-do ul li .role-do-val .role-spanv{padding: 0 15px;margin-left: 0!important;}
.role-do ul li.listw100{width: 100%;}
.role-do ul li .role-do-strw1{ float: left;
    width: 175px;
    height: 30px;
    line-height: 30px;
    padding-left: 5px;}
    .query-btn .btn-item {
   margin-left: 0px; 
}
select {
    width: 170px;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    height: 30px;
}
</style>
<body>
{template $this->template,'header',$this->style}
<div id="middle"> {template $this->template,'left',$this->style}
  <div class="right" id="mainFrame">
    <div class="right_cont">
      <ul class="breadcrumb">
        当前位置： <a href="/?m=nutrition">首页</a> <span class="divider">/</span> <a href="javascript:;">人体测量</a> 
      </ul>
      <div class="title_right">
        <strong>基本信息</strong> 
    </div>
      <div style="width:auto;margin:auto;">   
        <div class="query-btn">
            <div class="btn-item"> <a class="btn-query" >新增</a> <a href="javascript:;" class="btn-add" style="margin-left: 10px;">历史记录</a> <a href="javascript:;" class="btn-add" style="margin-left: 10px;">图表分析</a></div>
          </div>         
        <div class="data-content">       
          <form id="doForm">    
            <input type="hidden" name="userid" id="userid" value="0">
            <input type="hidden" name="dosubmit" value="1">     
            <div class="role-do">
              <ul>
                <li>
                  <div class="role-do-strw1">日期</div>
                  <div class="role-do-val">
                    <input type="text" name="info[realname]" class="input-text" id="st" value="">
                  </div>
                </li>
                <li>
                  <div class="role-do-strw1">身高</div>
                  <div class="role-do-val">
                    <input type="text" name="info[realname]" class="input-text" id="realname" value="">
                    <span>cm</span>
                  </div>
                </li>
                 <li>
                  <div class="role-do-strw1">体重</div>
                  <div class="role-do-val"><input type="text" name="username" class="input-text" id="username" value="">  <span>cm</span></div>
                </li>
                <li>
                <div class="role-do-strw1">BMI(>5岁)</div>
                  <div class="role-do-val"><input type="text" name="info[idcard]" class="input-text" id="idcard" value=""></div>
                </li>
                <li>
                  <div class="role-do-strw1">头围(2岁)</div>
                    <div class="role-do-val"><input type="text" name="info[idcard]" class="input-text" value=""><span>cm</span></div>
                  </li>
                  <li>
                    <div class="role-do-strw1">上臂围(>=2岁)</div>
                      <div class="role-do-val"><input type="text" name="info[idcard]" class="input-text" value=""><span>cm</span></div>
                    </li>
              </ul>
              <div style="height: 15px;"></div>
              <div class="title_right">
                <strong>新生儿</strong> 
            </div>
              <ul>
                <li>
                    <div class="role-do-strw1">出生体重</div>
                    <div class="role-do-val"><input type="text" name="username" class="input-text" id="username" value="">  <span>g</span></div>
                  </li>
                  <li>
                    <div class="role-do-strw1"></div>
                    <div class="role-do-val" style="display: flex;align-items: center;"><span class="role-spanv">G</span><input type="text" name="info[age]" class="input-date "  value="" placeholder="" ><span class="role-spanv">P</span><input type="text" name="info[age]" class="input-date"  value="" placeholder=""></div>
                  </li>
                <li>
                    <div class="role-do-strw1">胎龄</div>
                    <div class="role-do-val" style="display: flex;align-items: center;"><input type="text" name="info[age]" class="input-date"  value="" placeholder="" ><span class="role-spanv">周</span><input type="text" name="info[age]" class="input-date"  value="" placeholder="" ><span class="role-spanv">天</span></div>
                  </li>
                  <li>
                    <div class="role-do-strw1">分娩方式</div>
                    <div class="element-select">
                        <select id="status">
                            <option value="">全部</option>
                          <option value="waitPay">待付款</option>
                          <option value="success">已付款</option>
                          <option value="close">交易关闭</option>
                        </select>
                      </div>
                    </li>
                    <li style="border-bottom: 0;">
                        <div class="role-do-strw1">Apgar Score:</div>
                        <div class="role-do-val" style="display: flex;align-items: center;"><input type="text" name="info[age]" class="input-date"  value="" placeholder=""><span class="role-spanv">-</span><input type="text" name="info[age]" class="input-date"  value="" placeholder="" ><span class="role-spanv">-</span><input type="text" name="info[age]" class="input-date"  value="" placeholder=""></div>
                      </li>
              </ul>
            </div>
          </form>
          <div class="role-do-btn"> <a href="javascript:;" class="btn-send" id="J_send">保存</a> <a href="javascript:;" class="btn-close" id="J_close">关闭</a> </div>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
<script>
$(function(){
    laydate.render({
	  elem: '#st'
	  ,format: 'yyyy-MM-dd'
	  ,done: function(value,date,endDate){
		  st = value;
		  //console.log(value); //得到日期生成的值，如：2017-08-18
		  //console.log(date); //得到日期时间对象：{year: 2017, month: 8, date: 18, hours: 0, minutes: 0, seconds: 0}
		  //console.log(endDate); //得结束的日期时间对象，开启范围选择（range: true）才会返回。对象成员同上。
	  }
	});
	$('#J_close').on('click',function(){
		window.history.back();
	});
});




</script>
</html>