.left{width: 200px;
    height: 100%;
    left: 0px;
    top: 0px;position: relative;
    z-index: 2;
    background-color: #3868B2;
    border: none;
    font-size: 14px;
    padding: 0px;
    text-align: center;
    line-height: 20px;
    font-weight: normal;
    font-style: normal;
    opacity: 1;}
    .left_boxs{    width: 100%;
        display: flex;
        justify-content: center;
        height: 10vh;
        line-height: 10vh;
        position: relative;
        top: .2rem;
        z-index: 5;
        align-items: center;}
    .header_img{    
        width: 1rem;
        height: 1rem;
        position: relative;}
    .header_img img{    width: 100%;
        position: absolute;
        top: 0;
        left: 0;}
    .left_right{    padding: 0 .5rem;}
    .left_right p:nth-child(1){    font-size: .5rem;
        height: .2rem;
        color: #ffffff;
        line-height: .8rem;}
    .left_right p:nth-child(2){
        font-size: .2rem;
        height: 1rem;
        color: #ffffff;}

    

.pstateet{    width: 100%;
    position: absolute;
    top: 10vh;padding-top: .4rem;
    background: #3869B3;
    height: 90vh;}
    .boawo_item {display: flex;
        height: 1.8rem;justify-content: flex-end;
        line-height: 1.8rem;
        align-items: center;}

   .boawo_item .sthond{width: 24px; height: 24px; left: 22px;  z-index: 10; border-color: rgb(187, 187, 187); border-width: 0px; border-style: solid; color: rgb(255, 255, 255); font-weight: normal; font-style: normal; opacity: 1;}

   .boawo_item .sdjfdoi{width: 200px; height: 100px; left: 0px; z-index: 3; background-color: transparent; border: none; color: rgb(255, 255, 255); font-size: 20px; padding: 0px; text-align: center; line-height: 29px; font-weight: normal; font-style: normal; opacity: 1;}
   .boawo_item  .wdihje{width: .8rem;
    height: .8rem;
    border-radius: 50%;
    color: #ffffff;
    line-height: .8rem;
    font-size: .3rem;
    text-align: center;
    margin-right: .6rem;
    background: #f77147;}
   .cont_bottoms{position: absolute;bottom: 0;width: 100%;text-align: center;}
   .cont_bottoms p{height: .5rem;line-height: .5rem;color: #ffffff;}
   .cont_bottoms p:nth-child(1){margin-bottom: .1rem;font-size: .43rem;}
   .cont_bottoms p:nth-child(2){margin-bottom: .8rem;font-size: .43rem;}
   .cont_bottoms p:nth-child(3){margin-bottom: .2rem;font-size: .4rem;}




@media (min-width: 1110px) {
    .boawo_item .wdihje {
        width: .6rem;
        height: .6rem;
        border-radius: 50%;
        color: #ffffff;
        line-height: .6rem;
        font-size: .3rem;
        text-align: center;
        margin-right: .3rem;
        background: #f77147;
    }
    .header_img {
        width: .8rem;
        height: .8rem;
        position: relative;
    }
    .left_right {
        padding: 0 .2rem;
    }
    .left_right p:nth-child(1) {
        font-size: .43rem;
        height: .2rem;
        color: #ffffff;
        line-height: .8rem;
    }
    .pstateet {
        padding-top: .5rem;
    }
    .text_view .text p:last-child, .rounded_rect .text p:last-child, .circle_rect .text p:last-child, .mtooltip .text p:last-child {
        margin-bottom: 0;
        font-size: .31rem!important;
    }
    .boawo_item {
        display: flex;
        height: 1.4rem;
        overflow: hidden;
        justify-content: flex-end;
        line-height: 1.4rem;
        align-items: center;
    }

   
}