<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>康穗云-大健康服务解决方案提供商</title>
<meta name="viewport"
        content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=0">
<link rel="stylesheet" type="text/css"  href="/m2/css/mlayout.css" />
<link rel="stylesheet" href="/m2/swiper/css/swiper.min.css">
<link rel="stylesheet" href="/m2/css/aos.css">
<script src="/m2/js/jquery-3.5.0.min.js"></script>
<script src="/m2/swiper/js/swiper.min.js"></script>
<script src="/m2/js/aos.js"></script>
<script src="/statics/js/global.js"></script>
</head>
