<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>康穗云-大健康服务解决方案提供商</title>
<meta name="viewport"
        content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=0">
<link rel="stylesheet" type="text/css"  href="/html/websites/css/layout.css" />
<link rel="stylesheet" href="/html/websites/swiper/css/swiper.min.css">
<link rel="stylesheet" href="/html/websites/css/aos.css">
<script src="/html/websites/js/jquery-3.5.0.min.js"></script>
<script src="/html/websites/swiper/js/swiper.min.js"></script>
<script src="/html/websites/js/aos.js"></script>
<script src="/statics/js/global.js"></script>	
<script src="/statics/js/vue.js"></script>
<script type="text/javascript">
      if ((navigator.userAgent.match(/(iPhone|iPod|Android|ios)/i))) {
        location.replace("/m2");
      }
 </script>
</head> 