<style>
.clearfix {
	zoom: 1;
}
.g-box1 {
	width: 1280px;
	margin: 0 auto;
}
.g-box1 .m-logo {
	width: 225px;
	height: 58px;
	background: url(./app/pc_down/images/logo50.jpg) left center no-repeat;
	text-align: right;
	line-height: 58px;
	font-size: 20px;
	color: #5e5e5e;
	background-size: 45px;
}
.g-box1 .m-nav {
	/* width: 525px; */ 
	height: 58px;
}
.g-right {
	float: right;
}
.g-left {
	float: left;
}
.g-box1 .m-nav a {
	float: left;
	height: 53px;
	padding: 0 15px;
	margin-right: 30px;
	border-top: 5px solid #fff;
	color: #818181;
	text-decoration: none;
	line-height: 53px;
	font-size: 18px;
	text-align: center;
}
.g-box1 .m-nav a:hover {
	border-top: 5px solid #fcc900;
}
</style>
<div class="g-box1 clearfix">
  <div class="g-left m-logo" style="width:170px;"> 医家讯客户端 </div>
  <div class="g-right m-nav clearfix" style=""> 
	  <a href="https://b.yjxun.cn/?m=content&a=lists&catid=12"> 健康管理服务 </a> 
	  <a href="https://b.yjxun.cn/"> 品牌介绍 </a> 
	  <!--<a href="{siteurl($siteid)}#featured-works"> 产品展示 </a> -->
	  <a href="https://b.yjxun.cn/?m=content&a=lists&catid=15"> 加盟合作 </a> 
	  <!--<a href="{siteurl($siteid)}#testimonial"> 咨询中心 </a> -->
	  <a href="https://b.yjxun.cn/?m=content&a=lists&catid=15"> 联系我们 </a> 
	</div>
</div>
