{template 'content','header_commons'}
<link href="css/newsstyle.css" rel="stylesheet">
<style>
header {
    position: absolute;
    width: 100%;
    z-index: 99;
}
body {
    background-color: #f4f4f4;
}
.sidebar {
    float: left;
    margin-left: -320px;
    width: 300px;
    position: relative;
    padding-top: 20px;
}
.content-wrap {
    background: #fff;
}
.excerpt h2 {
    display: inline;
    font-size: 22px;
    margin: 0;
    font-weight: normal;
    position: relative;
    top: 1px;
    line-height: 25px;
}
.excerpt h2 a {
    color: #444;
    font-size: 20px;
}
.content {
    margin-left: 0px;
}
.excerpt .text-muted {
    font-size: 12px;
    margin-top: 35px;
}
.page5 {
    margin: 40px 0 40px 0;
}
.excerpt-one .focus {
    margin-top: -45px;
}
.footer-container .content-l {
    padding-top: 30px;
}
.footer-container .content-r {
    margin-top: 25px;
}
.excerpt-one:hover {
    cursor: pointer;
}
ul, ol {
    margin-bottom: 0px;
}
.content_box {
    width: 1200px;
    margin: 0px auto;
}
.excerpt {
    padding: 25px 0 25px 50px!important;
}
    #pages{margin-top: 30px;text-align: center;}
    #pages span{border: #00aeff 1px solid;display: inline-block;width: 40px;height: 30px;line-height: 30px;background: #00aeff;color: #fff;text-align: center;border-radius: 5px;}
    #pages a{display: inline-block;width: 40px;height: 30px;text-align: center;border: #999 1px solid;line-height: 30px;border-radius: 5px;}
  #pages .a1{display: inline-block;width: 60px;height: 30px;line-height: 30px;text-align: center;color: #000;
    border: #999 1px solid;border-radius: 5px;}
	
	#pages {
        margin: 30px auto;
    text-align: center;
}
#pages .a1 {
    display: inline-block;
    width: 60px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    color: #000;
    border: #999 1px solid;
    border-radius: 5px;
}
#pages a {
    display: inline-block;
    width: 40px;
    height: 30px;
    text-align: center;
    border: #999 1px solid;
    line-height: 30px;
    border-radius: 5px;
}
#pages span {
    border: #ff6c3a 1px solid;
    display: inline-block;
    width: 40px;
    height: 30px;
    line-height: 30px;
    background: #ff6c3a;
    color: #fff;
    text-align: center;
    border-radius: 5px;
}
#pages a {
    border: 0!important;
    background: #ffffff;
}
header .wrap {
     padding:  0!important;
   
}
</style>
</head><body>
<div id="header" >{template 'content','headers'}</div>
<div style="height: 6rem;"></div>
<div class="innerbanner">
  <dl>
  </dl>
</div>
<div class="b30"></div>

<div class="newsbody" id="ketangs">
	   {pc:content action="lists" catid="65" num="25" order="id DESC" num="4" page="$page"}
	 {loop $data $r}
            <div class="newslibox">
                <dl>
                    <dt>10-04</dt>
                    <dd>2020</dd>
                </dl>
                <ul>
                    <li class="tt"><a class="pc" href="/?m=content&c=index&a=show&catid=<?php echo $r['catid'];?>&id=<?php echo $r['id'];?>"  id="title" target="_blank">{$r['title']}</a></li>
                    <li class="parg">
                        <p><?php echo $r['description'];?></p>
                    </li>
                    
                </ul>
            </div>
	{/loop}
      	{/pc}
	

<!--
            <div class="newslibox">
                <dl>
                    <dt>10-06</dt>
                    <dd>2020</dd>
                </dl>
                <ul>
                     <li class="tt"><a href="xinwen_con.html">互联网的小伙伴创建</a></li>
                    <li class="parg">
                        <p>每一个相同顶级域名中的二级域名注册都是独一无二的，不可重复的，但不同顶级域名中的二级域名可以是相同的，例如baidu这个二级域名曾可以在.com中注册，也可以在.cn中注册...</p>
                    </li>
                </ul>
            </div>


         <div class="newslibox">
                <dl>
                    <dt>10-06</dt>
                    <dd>2020</dd>
                </dl>
                <ul>
                     <li class="tt"><a href="xinwen_con.html">互联网的小伙伴创建</a></li>
                    <li class="parg">
                        <p>每一个相同顶级域名中的二级域名注册都是独一无二的，不可重复的，但不同顶级域名中的二级域名可以是相同的，例如baidu这个二级域名曾可以在.com中注册，也可以在.cn中注册...</p>
                    </li>
                </ul>
            </div>

	              <div class="newslibox">
                <dl>
                    <dt>10-06</dt>
                    <dd>2020</dd>
                </dl>
                <ul>
                     <li class="tt"><a href="xinwen_con.html">互联网的小伙伴创建</a></li>
                    <li class="parg">
                        <p>每一个相同顶级域名中的二级域名注册都是独一无二的，不可重复的，但不同顶级域名中的二级域名可以是相同的，例如baidu这个二级域名曾可以在.com中注册，也可以在.cn中注册...</p>
                    </li>
                </ul>
            </div>
-->


           

            
         

            

           
        </div>
		 <div class="text-c" id="pages">
  	{$pages}
  </div>
	

<div class="b30"></div>
<div id="footer" >{template 'content','footers'}</div>
</body>
</html>