.template{display: none;}
.table tr th { font-weight:normal;}
a { color: #459ae9; font-size: 10px;}
.search-module { overflow: hidden; margin-bottom: 5px; /*padding: 0 12px;*/ }
.search-module .search-item { float: left; margin-right: 15px;}
.search-module .search-item .search-item-val { display: inline-block;}
.search-module .search-item .input-text { width: 180px; height: 25px; padding: 2px;}
.search-module .search-item .input-date { width: 120px; height: 25px; padding: 2px;}
.search-module .search-item select { width: auto; height: 30px;}
.search-module .search-btn { float: left; /*margin-left: 20px;*/ padding: 6px 20px; border-radius: 3px; background-color: #009688; color: #fff; cursor: pointer; }
/**/
.query-form .form-item { margin-bottom: 15px; }
.query-form .form-item.hidden { display: none;}
.query-form .form-item font { float: left; width: 80px; padding-top: 4px; position: relative; }
.query-form .form-item .element { margin-left: 80px; height: auto; min-height: 26px; _height: 26px; }
.query-form .form-item .element .element-text { width: 278px; height: 30px; line-height: 30px; padding: 0 10px; display: inline-block; border: 1px solid #e7e7eb; background: #ffffff; vertical-align: middle; }
.query-form .form-item .element .element-text input { width: 100%; height: 22px; padding: 4px 0; background: transparent; border: 0; outline: 0; float: left; box-shadow: none; }
.query-form .form-item .element .element-date input { width: 110px; height: 22px; padding: 4px 10px; background: transparent; border: 1px solid #e7e7eb; outline: 0; box-shadow: none; }
.query-form .form-item .element .element-date .gap { margin: 0 5px; }
.query-form .form-item .element .element-select { height: 30px; line-height: 30px; padding: 0; display: inline-block; background: #ffffff; vertical-align: middle; }
.query-form .form-item .element .element-select select { height: 28px; padding: 4px 0;}
.query-btn .btn-item { margin-left: 80px; height: auto; min-height: 26px; }
.query-btn .btn-item a { display: inline-block; min-width: 40px; padding: 0 22px; height: 25px; line-height: 25px; vertical-align: middle; text-align: center; font-size: 12px; text-decoration: none; border-width: 1px; border-style: solid; -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; cursor: pointer; }
.query-btn .btn-item .btn-query { background: #234686; border-color: #234686; color: #ffffff; }
.query-btn .btn-item .btn-add { background-color: #38a3d5; border-color: #38a3d5; color: #fff; }
.query-btn .btn-item .btn-settle { background-color: #0088cc; border-color: #0088cc; color: #fff; }
.query-btn .btn-item .btn-screen { border: 0; color: #459ae9; }
.data-content { width: 100%; padding: 10px 0; overflow: hidden;}
/*.data-content table { width: 100%; border-color: #ddd;}
.data-content table tr th,.data-content table tr td { padding: 8px;}*/
#pages span { background: #244586 !important; border-color: #244586 !important;}
.input-checkbox { min-width: 17px !important; height: 20px !important;}
/*inner style*/
.member-headimgurl { width: 32px; height: 32px; border-radius: 40px; overflow: hidden; float: left; margin-right: 10px; }
.member-headimgurl img { width: 100%; }
.member-info { float: left; }
.member-info p { margin: 0; line-height: 16px; text-align: left;}
.action-adds { float: left; width: 100px; height: 30px; line-height: 30px; text-align: center; color: #fff; border-radius: 3px; font-size: 12px; cursor: pointer; }
.add-user-group { background-color: #244586; }
.del-user { background-color: #244586; margin-left: 10px;}
.add-used-user { background-color: #f8470a; }
/*.member-collect { width: 80px; background: url(/statics/dataadmin2/images/uncollection_icon.png) no-repeat 8px center; background-size: 15px; background-color: #fff; color: #666; text-align: center; height: 25px; line-height: 25px; border-radius: 3px; cursor: pointer; font-size: 10px; padding-left: 25px; padding-right: 10px; box-shadow: 0 0 5px #b0b0b0; }
.member-collect.active { background-image: url(/statics/dataadmin2/images/collection_icon.png); color: #6fb3e0; }*/.member-collect { cursor: pointer; font-size: 11px;}
.operate-inner { width: 100%; margin-bottom: 10px; }
.operate-inner a { display: inline-block; min-width: 40px; padding: 0 22px; height: 28px; line-height: 28px; vertical-align: middle; text-align: center; font-size: 12px; text-decoration: none; border-width: 1px; border-style: solid; border-color: #38a3d5; -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; cursor: pointer; background-color: #38a3d5; color: #fff; }
.operate-inner .btn-add, .operate-inner .btn-upload { background-color: #234686; border-color: #234686; color: #fff; }
/*页面导航*/
.first-cate { width: 220px; float: left; background-color: #fff; border-right: 1px #ddd solid; }
.first-cate .first-head { height: 29px; padding: 0 10px; position: relative; background-color: whitesmoke; border-bottom: 1px #ddd solid; position: relative; }
.first-head h2 { margin: 0; font-size: 13px; font-weight: normal; line-height: 29px; }
.first-head .btn-close { position: absolute; right: 0; top: 0; display: block; width: 29px; height: 29px; background: url('/statics/dataManage/images/icon_close.png') no-repeat center; background-size: 11px; cursor: pointer; }
.first-container { width: 100%; overflow: auto; }
.first-container ul { margin: 0; }
.first-container ul li { padding: 5px 15px; /*border-bottom: 1px #f7f7f7 solid;*/
cursor: pointer; }
.first-container ul li.active { background-color: #38A3D5; color: #fff; }
.first-container .tree-inner { /*padding: 5px 0;*/
}
.first-container .tree-inner li { line-height: 18px; padding: 0; white-space: nowrap; }
.tree-node.active { background-color: #ffe48d; }
.tree-inner .tree-node i { display: inline-block; width: 18px; height: 18px; }
.tree-inner .tree-node .tree-node-toggle { background: url('/statics/dataManage/images/expand_icon.png') no-repeat center; background-size: 100%; }
.tree-inner .tree-node .tree-node-toggle.active { background-image: url(/statics/dataManage/images/collapse_icon.png); }
.tree-inner .tree-node .tree-node-folder { background: url('/statics/dataManage/images/icon_folder.png') no-repeat center; background-size: 100%; }
.tree-inner .tree-node span { display: inline-block; height: 18px; line-height: 18px; vertical-align: top; overflow: hidden; white-space: nowrap; }
.tree-inner li ul { /*padding-left: 18px;*/
display: none; }
/**/
.btn-batch { padding: 10px; background-color: #eee; }
.btn-batch span { cursor: pointer; }
.btn-batch a { margin-left: 10px; color: #459ae9; }
/*page*/
.layui-laypage select { width: auto; }
.layui-laypage input { height: 25px; }
.inner-page .icon-arrow { display: inline-block; width: 13px; height: 13px; }
.inner-page .arrow-l { background: url('/statics/admin/common/images/icon_arrow_l.png') no-repeat center; background-size: 100%; }
.inner-page .arrow-r { background: url('/statics/admin/common/images/icon_arrow_r.png') no-repeat center; background-size: 100%; }
/*service area*/
.inner-service-area { float: left; overflow: hidden; /*width: 780px;*/ }
.inner-service-area i { display: inline-block; height: 30px; line-height: 30px; padding: 0 10px; background-color: #436fbd; color: #fff; border-radius: 4px; margin-right: 5px; margin-bottom: 5px; font-style: normal; }
.inner-service-area i:last-child { margin-right: 0; }
.btn-select { margin-left: 10px; display: inline-block; height: 30px; line-height: 30px; padding: 0 15px; background-color: #234686; color: #fff; border-radius: 3px; cursor: pointer;}

/*do*/
.role-do-val select { width: 166px; height: 33px;}
.operate-btn { margin-right: 3px; color: #459ae9; }
.tabs-wrap { background-color: #f1f1f1; color: #666; border-bottom: 1px #ddd solid; padding-top: 2px; padding-left: 5px; }
.tabs-wrap ul { overflow: hidden; margin: 0; }
.tabs-wrap ul li { list-style-type: none; height: 35px; float: left; line-height: 35px; padding: 0 10px; margin-right: 5px; border: 1px #d4d4d4 solid; border-bottom: 0; border-radius: 4px 4px 0 0; cursor: pointer; }
.tabs-wrap ul li.active { background-color: #fdfdfd; }
.inner-container { padding: 10px; }
.inner-container .inner-item { display: none; width: 100%; }
.inner-container .inner-item .inner-frame { width: 100%; height: 100%; }