 /* 轮播图 */

        .m-banner .banner-container {
            width: 99%;
            height: 8.5rem;
/*            overflow: hidden;*/
            margin: 0 auto;
        }

        .m-banner .banner-container img {
            width: 100%;
            float: left;
            height:auto;object-fit: cover;
        }

        .bd .tempWrap ul,
        .banner-container .tempWrap ul li {
            width: 99%;
            height: 100%;
            margin: 0 auto;padding-left: 1rem;left: -.8%;
            border-radius: .7rem;
        }

        .m-banner .banner-intelligent {
            width: 99%;
            height: 8.5rem;
            overflow: hidden;
            margin: 0 auto;
        }

        .m-banner .banner-intelligent img {
            width: 100%;
            float: left;
            height: auto;object-fit: cover;
        }

        .bd .tempWrap ul,
        .banner-intelligent .tempWrap ul li {
            width: 99%;
            height: 100%;
            margin: 0 auto;
        }

        .m-banner .hd {
           position: absolute;
    bottom: 1%;
    width: 100%;
    text-align: right!important;
    right: 7%;
        }

        .m-banner .hd ul li {
            display: inline-block;
            width: 0.5rem;
            height: 0.5rem;
            background-color: #fedede;
            color: transparent;
            border-radius: 500px;
            margin-right: 0.192rem;
            text-indent: -999px;
        }

        .m-banner .hd ul li.on {
            background-color: #fd5148;
             width: 1.5rem;
/*            height: .385rem; */
        }
	        .m-banner {
            width: 99%;
/*          overflow: hidden;*/
            position: relative;height: 11rem;
            margin-top: .29rem!important;
        }
.mt_boxs{
   width: 101%;}
   .mt_boxs .m-banner{
    padding: 0;margin-top: 0!important;
    }
  .mt_boxs .m-banner .banner-container img {
    width: 100%;
    float: left;
    height: 11rem;
}
 .mt_boxs .m-banner .banner-container {
    width:100%;
    height: 11rem;border-radius: 0;
    overflow: hidden;
    margin: 0 auto;
}
.mt_boxs .m-banner .banner-container img{
       border-radius: 0rem;  
    }
   .mt_boxs .bd .tempWrap ul, .mt_boxs .banner-container .tempWrap ul li{
		    width: 100%;
            height: 100%;
            margin: 0 auto;padding-left: 0rem!important;left: 0%;
            border-radius: .7rem;
	   } 
/*	轮播图结束*/
	
.option_box_ {
    width: 100%;
    overflow: hidden;
/*    margin-top: 1rem;*/
}
.option_box {
    width: 98%;
    overflow: hidden;
    margin: 0 auto;
    border-radius: 10px;
    background-color: #fff;
}
.option_box li {
    float: left;
    width: 25%;
    margin-top: 1rem;
}
.option_box .option {
    text-align: center;
}
.option_box .option img {
    width: 3rem;
    height: 3rem;
    display: block;
    margin: 0 auto;
}
.option_box .option p {
   height: 1.538rem;
    line-height: 1.54rem;
    font-size: 1.012rem;
    color: #282828;margin-top: .45rem;
}
.option_boxww{margin-top: .8rem;}
.option_boxww .option img {
    width: 4.2rem;
    height: 4.2rem;
    display: block;
    margin: 0 auto;
}		
.option_box2 li {
    float: left;
    width: 20%;
    margin-top: 1rem;
}
.option_box2 .option p {
    font-size: .882rem;
    color: #282828;margin-top: .45rem;
}

.mt_conte{width: 93%;margin: 1.3rem auto 1rem auto;display: flex;justify-content: space-between;}
.mt_conte div{width: 48%;height: 6rem;}
.mt_conte div img{width:100%;height:100%;object-fit: cover;}


.mt_vip {
     width: 93%;
    display: flex;
    color: #7a5936;
    height: 3.5rem;
    margin: 1.5rem auto 0 auto;
    align-items: center;
    background: #f0dca2;
    line-height: 4rem;
    border-top-left-radius: .3rem;
    padding: 0 1rem;
    border-top-right-radius: .3rem;
    justify-content: space-between;
}
.mt_vip .uing {
    display: inline-block;
    width: .45rem;
    margin: 0 .35rem;
}
.mt_vip .unt_it {
    display: inline-block;
    width: 2.45rem;
    margin: 0 .35rem;
}


.m_dbox {
   width: 100%;
    display: flex;
    height: 2rem;margin-top: 1rem;
    line-height: 2rem;
    flex-wrap: wrap;margin-bottom: 2.5rem;
    padding: 0 1rem;
    justify-content: space-between;
}
.m_dbox .mstop{width: 100%;color: #666;}
.m_dbox .mstio{
	color: #919899;font-weight: 500;
}
.m_dbox .mstio .uing{display: inline-block;width: 1.25rem;margin: 0 .35rem;}
.m_dbox span:nth-child(1) .cihg{
    display: inline-block;margin-right: .5rem;border-radius: 500px;
	width: 3px;height: 1.3rem;background: #f16b1c;
}
.m_dbox span:nth-child(1) {
    font-size: 1.25rem;
    color: #111111;
    font-weight: 600;
	display: flex;
    align-items: center;
}
.m_dbox span:nth-child(2) img{vertical-align: middle;width: 1rem;margin-right: .8rem;}			
			

.ciont_box{width: 100%;padding: 0 1rem;display: flex;flex-wrap: wrap;justify-content: space-between;}
.ciont_box .ciont_item{width: 48%;margin-bottom: 1rem;}
.ciont_box .ciont_item .cont_img{width: 100%;height: 6.5rem;}
.ciont_box .ciont_item .cont_img img{width: 100%;height: 100%;object-fit: cover;border-radius: .3rem;}
.ciont_box .ciont_item  .ciont_bottom{display:flex; justify-content: space-between;align-items: center;margin-top: .3rem;}
.ciont_box .ciont_item .ciont_title{margin-top:.5rem;}
.ciont_box .ciont_item .ciont_bottom .cin_span1{color:#fd4801;font-weight: 600;}
.ciont_box .ciont_item .ciont_bottom .cin_span2{    color: #ffffff;
    background: #f16b1c;
    width: 4rem;
    padding-left: 5px;
    text-align: center;
    letter-spacing: 5px;
    border-radius: .3rem;
    font-size: .83rem;}

			
 .planting {
        width: 100%;
        overflow: hidden;
    }

    .planting ul {
        width: 100%;
        display: inline;
        white-space: nowrap;
        overflow-x: scroll;
        float: left;
        overflow-y: hidden;
        padding-right: 1rem;
    }

    .planting ul li {
        margin-left: 1rem;
/*        height: 15rem;*/
        width: 7.5rem;

		white-space: initial;
        border-radius: .5rem;
        overflow: hidden;
        display: inline-block;
    }
  
  #pig_two ul li {
        width:12rem;
    }

    .planting .poster-thumb {
        height: 6.3rem;
    }
     .planting .poster-thumb img{height: 6.3rem;object-fit: cover;border-radius: .3rem;}
    .poster-title {
        width: 100%;
	text-overflow: -o-ellipsis-lastline;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;margin-top: .5rem;
  -webkit-box-orient: vertical;
    }
   .poster-subtitle{
		font-size: .88rem;color: #666;
			}	
   .poster-price{font-size: 1.11rem;color: #FF9800;margin-top: .5rem;}	
	.poster-price span:nth-child(1){margin-right: .3rem;}	



#content_b .cointe_item{width: 32%;}
.listitem1 {
    display: flex;
}
.listitem {
       background: #ffffff;
    margin-bottom: .5rem;
    position: relative;
    overflow: hidden;
    border-bottom: 1px solid #ececec;
    width: 93vw;
    margin: 0 auto;
}
.listitem1 .artic {
    flex: 3;
    padding: 1rem 1rem 0.9rem 0rem;
    position: relative;
    width: 100vw;
}
.listitem .artic {
    width: 92%;
    margin: 0 auto;
    text-align: justify;
    padding-top: .7rem;
}
.title {
   color: #343434;
    font-size: 1.12rem;font-weight: 600;
}
.piece {
    color: #656565;
    font-size: 0.9rem;
    position: absolute;
    bottom: .66rem;display: flex;justify-content: space-between;
    width: 90%;text-align: right;
}
.piece .piexe_t{color: #ff7903;font-size: 1.12rem;}
.pide_img img{width:100%;}
.listitem1 .img {
    flex: 1.5;
    padding: 1rem;
}
.listitem1 .zoomImage {
    height: 6.96rem;border-radius: .3rem;
    margin: 0 auto;
}
.zoomImage {
    background-size: cover;
    background-position: center center;
}
 .citem_div2{color: #666;
    font-size: .85rem;line-height: 1rem;
    font-weight: 500;  
    margin-top: .2rem;}
 .citem_div5{color: #666;   

    text-overflow: ellipsis;
    overflow: hidden;
    word-break: break-all;
    font-size: .85rem;line-height: 1rem;
    font-weight: 500;  
    margin-top: 1rem;}
 .citem_div3{  color: #2196F3;
    font-size: .85rem;
    display: flex;
    margin-top: .5rem;}
.citem_div3 span{padding: 0rem .6rem;border: 1px solid #2196F3;margin-right: .6rem;border-radius: 500px;}
.container {
    width: 93%;
    margin: 0 auto;
}
  #ketangs .listitem1 .artic {
    flex: 3;
    padding: 1rem 0rem 0.9rem 1rem;
    position: relative;
    width: 100vw;
}			
  #ketangs .listitem1 .img {
    flex: 2;
    padding: 1rem;
}	
.citem_div4{margin-top: 1.4rem;color: #828282;}
.citem_div4 .cactive1{padding: .2rem .7rem;color: #ff8a8a;background: #ffefef;border-radius: 500px;margin-right: .5rem;font-size: .88rem;}	
.citem_div4 .cactive2{padding: .2rem .7rem;color: #b38aff;background: #f1efff;border-radius: 500px;margin-right: .5rem;font-size: .88rem;}	