/* 
html5doctor.com Reset Stylesheet
v1.4.1 
2010-03-01
Author: Richard Clark - http://richclarkdesign.com
*/
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
	box-sizing: border-box;
}

body {
	line-height: 1.5;
	background: #f5f5f5;
}

.con_w {
	background: #fff;
}

:focus {
	outline: 1;
}

article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary {
	display: block;
}

ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

a {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}

ins {
	background-color: #ff9;
	color: #000;
	text-decoration: none;
}

mark {
	background-color: #ff9;
	color: #000;
	font-style: italic;
	font-weight: bold;
}

del {
	text-decoration: line-through;
}

abbr[title],
dfn[title] {
	border-bottom: 1px dotted #000;
	cursor: help;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #cccccc;
	margin: 1em 0;
	padding: 0;
}

input,
select {
	vertical-align: middle;
}

.fl {
	float: left;
}

.fr {
	float: right;
}

.cl01 {
	clear: both;
}

.topbar {
	border-top: 4px solid #222935;
	display: flex;
	justify-content: center;
	align-items: center;
}

.topbar .tcenter {
	background: #222935;
	padding: 0 10px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.topbar .tcenter .tel {
	height: 7vw;
	padding-left: 5vw;
	display: flex;
	align-items: center;
	font-size: 12px;
	justify-content: flex-start;
	color: #f2f2f2;
	background-image: url(../imgs/tel.png);
	background-position: left center;
	background-repeat: no-repeat;
	background-size: 3vw 3vw;
	margin: 0 3vw;
	font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.topbar .tcenter .qq {
	height: 7vw;
	padding-left: 5vw;
	display: flex;
	align-items: center;
	font-size: 12px;
	justify-content: flex-start;
	color: #f2f2f2;
	background-image: url(../imgs/qq.png);
	background-position: left center;
	background-repeat: no-repeat;
	background-size: 3vw 3vw;
	margin: 0 3vw;
	font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.topbar .tcenter .wx {
	height: 7vw;
	padding-left: 5vw;
	display: flex;
	align-items: center;
	font-size: 12px;
	justify-content: flex-start;
	color: #f2f2f2;
	background-image: url(../imgs/wx.png);
	background-position: left center;
	background-repeat: no-repeat;
	background-size: 3vw 3vw;
	margin: 0 3vw;
	font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.topbar .leftbar {
	width: 7vw;
	height: 7vw;
	background: url(../imgs/top-left-bar.jpg) no-repeat;
	background-size: 7vw 7vw;
}

.topbar .rightbar {
	width: 7vw;
	height: 7vw;
	background: url(../imgs/top-right-bar.jpg) no-repeat;
	background-size: 7vw 7vw;
}

.navbtn {
	display: block;
	width: 8vw;
	height: 8vw;
	border: none;
	background: none;
	outline: none;
	background: #ff6c3a url(../imgs/mba.png) center center no-repeat;
	background-size: 4vw 4vw;
}

.center.wrap {
	display: flex;
	align-items: center;
	padding: 2vw;
	justify-content: space-between;
	background: #fff;
	box-shadow: 0 0px 8px #bdbbbb;
}

.center.wrap h1 img {
	width: 35vw;
}

.navbox {
	left: 0;
	display: none;
	position: fixed;
	z-index: 9999;
	top: 0;
	background: rgba(0, 0, 0, 0.8);
	width: 100%;
	height: 100%;
}

.close {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	width: 50vw;
	height: 10vw;
	background: #ff6c3a;
	padding-left: 5vw;
	font-family: 宋体;
	color: #fff;
	font-size: 24px;
}

.close:active {
	opacity: 0.9;
}

.navlist {
	width: 50vw;
	height: 100vh;
	background: #fff;
	padding-top: 5vw;
}

.navlist li {
	background: #fff;
	display: flex;
	height: 10vw;
	border-bottom: 1px dotted #ddd;
}

.navlist li a {
	height: 10vw;
	display: flex;
	justify-content: flex-start;
	padding-left: 4vw;
	color: #666;
	font-size: 14px;
	flex: 1;
	text-decoration: none;
	align-items: center;
}

#banner .swiper-slide {
	background-position: top center;
	background-repeat: no-repeat;
	background-size: auto 100%;
	height: 40vw;
}

.title {
	padding: 5vw 0;
}

.title strong {
	display: block;
	text-align: center;
	font-size: 30px;
	font-weight: bold;
	line-height: 1.8;
}

.tj .title strong {}

.title p {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 3vw 10vw 2vw;
	font-size: 12px;
	color: #666;
	line-height: 1.8;
	text-align: center;
}

.titlegy strong {
	font-size: 28px;
}

.titlegy p {
	padding: 3vw 1vw 2vw;
}

.servicelist {
	display: flex;
	padding: 0 2vw;
	flex-wrap: wrap;
}

.servicelist dl {
	padding: 0;
	width: 47vw;
	margin: 0px 2vw 2vw 0;
	background: #ffffff;
}

.servicelist dl:nth-child(2) {
	margin-right: 0;
}

.servicelist dt {
	height: 25vw;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
}

.servicelist img {
	height: 25vw;
}

.servicelist dd strong {
	font-size: 16px;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 12vw;
	text-align: center;
	padding: 0vw 4vw;
	line-height: 1.2;
	margin: 2vw 0;
	font-weight: initial;
}

.servicelist dd p {
	padding-top: 2vw;
	font-size: 12px;
	line-height: 1.8;
}

.advantage {
	padding-top: 50vw;
	margin: 0 auto;
	background: url(../imgs/webs.png) center top no-repeat;
	background-size: auto 50vw;
}

.advantage dl {
	padding: 0 2vw;
}

.advantage dt {
	font-size: 16px;
	font-weight: bold;
	line-height: 1.8;
}

.advantage p {
	font-size: 12px;
	color: #666;
	line-height: 1.8;
	padding-bottom: 2vw;
}

.advantage ul {
	padding: 0 2vw;
}

.advantage ul li {
	display: flex;
	align-items: center;
	font-size: 12px;
	color: #999;
	padding: 2vw 0;
	justify-content: flex-start;
}

.advantage ul li img {
	height: auto !important;
	width: 6vw;
	margin-right: 2vw;
}

.qs {
	padding-top: 3vw;
	text-align: center;
}

.qs a {
	display: inline-block;
	font-size: 14px;
	text-transform: uppercase;
	padding: 2vw 5vw;
	border-radius: 2px;
	color: #fff;
	text-decoration: none;
	font-weight: bold;
	position: relative;
	overflow: hidden;
	background: #ff6c3a;
	border-bottom: 3px solid rgba(0, 0, 0, 0.4);
}

.seo .main {
	background: #f9f9f9;
	padding: 5vw 5vw 0 5vw;
}

.seo .main img {
	max-width: 100%;
}

.adv {
	padding: 5vw 0;
	background: url(../imgs/bg-parallax.jpg);
	background-size: 100% 100%;
}

.adv h2 {
	padding-top: 5vw;
	color: #fff;
	font-size: 18px;
	text-align: center;
	font-weight: bold;
	padding-bottom: 3vw;
}

.adv p {
	text-align: center;
	color: #f2f2f2;
	font-size: 12px;
	line-height: 1.8;
	padding: 2vw 0;
}

.adv div {
	color: #ff6c3a;
	font-size: 18px;
	padding-top: 3vw;
	font-weight: bold;
	text-align: center;
}

.adv a {
	display: inline-block;
	font-size: 14px;
	text-transform: uppercase;
	padding: 2vw 5vw;
	border-radius: 2px;
	color: #fff;
	text-decoration: none;
	font-weight: bold;
	position: relative;
	overflow: hidden;
	background: #ff6c3a;
	border-bottom: 3px solid rgba(0, 0, 0, 0.4);
}

.pricewrap {
	padding: 0 4vw;
}

.pricewrap .box strong {
	background: #222935;
	display: flex;
	height: 10vw;
	width: 20vw;
	align-items: center;
	justify-content: center;
}

.pricewrap .box strong img {
	width: 5vw;
}

.mainbox {
	background: #f2f2f2;
	font-size: 14px;
	margin-bottom: 8vw;
}

.mainbox dl {
	background: #6ca6f6;
	color: #fff;
	padding: 5vw 2vw;
	height: 18vw;
}

.mainbox dl dt {
	height: 100%;
	align-items: center;
	font-size: 22px;
	font-weight: bold;
	text-align: center;
}

.mainbox dl dd {
	height: 100%;
	display: flex;
	align-items: center;
	margin-right: 2vw;
	font-size: 18px;
	font-weight: bold;
}

.mainbox ul li {
	padding: 0 2vw;
	height: 11vw;
	font-size: 14px;
	text-align: center;
	line-height: 11vw;
}

.mainbox ul li:nth-child(even) {
	background: #fdfbfb;
}

.mainbox div {
	padding-top: 3vw;
	text-align: center;
	background: #fdfbfb;
}

.mainbox div a {
	display: inline-block;
	text-transform: uppercase;
	padding: 2vw 6vw;
	border-radius: 5px;
	overflow: hidden;
	background: #ff6c3a;
	color: #fff;
	text-decoration: none;
	align-items: center;
	font-size: 16px;
	box-sizing: border-box;
	justify-content: center;
}

.servicestep .step {
	text-align: center;
}

.cases {
	background: #f2f2f2;
}

.tabnav {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0 2vw 2vw;
	text-align: center;
}

.tabnav a {
	display: flex;
	align-items: center;
	justify-content: center;
	color: #666;
	text-decoration: none;
	background: #fff;
	height: 10vw;
	margin: 0 2px;
	width: 20vw;
	font-size: 14px;
}

.tabnav a:hover {
	background: #ff6c3a;
	color: #fff;
}

.tabnav .hover {
	background: #ff6c3a;
	color: #fff;
}

.casebody {
	padding: 2vw 0 2vw 2vw;
	margin: 0 auto;
}

.casebody .case {
	width: 98vw;
	opacity: 0;
	flex-wrap: wrap;
	display: none;
	animation: opacitybox 1.5s linear forwards;
	justify-content: flex-start;
}

.casebody .case .caseli {
	width: 47vw;
	margin: 0 2vw 2vw 0;
	background: #fff;
}

.casebody .case .caseli a {
	display: block;
	overflow: hidden;
	position: relative;
	text-decoration: none;
}

.casebody .case .caseli a>img {
	display: block;
	width: 100%;
	/*height: 35vw;*/
}

.casebody .case .caseli a div {
	height: 10vw;
	background: #f9f9f9;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 12px;
	transition: all 300ms linear;
	text-decoration: none;
	color: #666;
}

.casebody .case .caseli a dl {
	display: none;
}

.casebody .hover {
	display: flex;
}

@keyframes opacitybox {
	0% {
		opacity: 0;
	}

	50% {
		opacity: 0.5;
	}

	100% {
		opacity: 1;
	}
}

.newslist {
	padding: 0 2vw;
}

.newslist dl {
	margin-bottom: 5vw;
	padding: 2vw;
	background: #f2f2f2;
}

.newslist dt {
	display: flex;
	margin-bottom: 3vw;
	align-items: center;
	font-size: 18px;
	justify-content: space-between;
	font-weight: bold;
}

.newslist dt a {
	color: #fff;
	padding: 1vw 3vw;
	font-weight: normal;
	text-decoration: none;
	display: flex;
	background: #ff6c3a;
	align-items: center;
	justify-content: center;
	font-size: 12px;
}

.newslist dd a {
	border-bottom: 1px dotted #ddd;
	display: flex;
	align-items: center;
	height: 10vw;
	color: #666;
	font-size: 12px;
	text-decoration: none;
}

footer {
	background: #232c3b;
}

footer p {
	font-size: 12px;
	color: #fff;
	background: #000;
	padding: 2vw 0;
	text-align: center;
}

footer .main {
	width: 100vw;
	margin: 0 auto;
	padding-top: 2vw;
	color: #969ea7;
}

footer .main dl {
	padding: 2vw;
	width: 66vw;
	color: #fff;
}

footer .main dt {
	font-size: 12px;
	line-height: 1.8;
	color: #fff;
}

footer .main dd {
	font-size: 12px;
	padding-top: 2vw;
}

footer .main ul {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	padding: 0 0 0 2vw;
}

footer .main ul li {
	flex: 1;
	margin: 0 2vw 0 0;
}

footer .main ul a {
	color: #969ea7;
	border-bottom: 1px solid #666;
	display: flex;
	align-items: center;
	font-size: 12px;
	height: 10vw;
	padding-left: 20px;
	text-decoration: none;
	position: relative;
}

footer .main ul a::before {
	left: 0;
	top: 12px;
	position: absolute;
	content: " ";
	width: 0;
	height: 0;
	border-style: solid;

	border-width: 4.5px 0 4.5px 9px;
	border-color: transparent transparent transparent #969ea7;
}

footer .main .form {
	padding: 5vw 2vw 2vw 2vw;
	text-align: center;
	color: #fff;
	float: left;
}

footer .main .wx {
	padding-top: 2vw;
}

footer .main .wx img {
	width: 30vw;
	border: 5px solid #fff;
}

.bottominfo {
	text-align: center;
	font-size: 14px;
	padding: 2vw 5vw;
	line-height: 1.8;
	color: #fff;
	border-bottom: 1px solid #666;
	display: flex;
	align-items: center;
	justify-content: center;
}

.innerbanner {
	background: url(../imgs/yd_con_bg1.jpg) no-repeat;
	background-size: cover;
	position: relative;
	height: 45vw;
	display: flex;
	align-items: center;
	justify-content: center;
}

.innerbanner dt {
	color: #fff;
	font-size: 30px;
	text-align: center;
	font-weight: bold;
}

.innerbanner dd {
	padding-top: 3vw;
	text-align: center;
	color: #fff;
	font-family: "宋体";
}

.innerbanner dd a {
	text-decoration: none;
	color: #ff6c3a;
}

.newsbody {
	overflow: hidden;
}

.newsbody .newslibox {
	margin: 0 2vw 2vw 2vw;
	background: #fff;
	padding: 2vw;
}

.newsbody dl {
	display: none;
	align-items: center;
	justify-content: flex-start;
}

.newsbody dl dt {
	font-weight: bold;
	font-size: 14px;
}

.newsbody dl dd {
	font-weight: bold;
	padding-left: 5vw;
	color: #999;
	font-size: 14px;
}

.newsbody .tt {
	padding: 0 0 2vw;
	font-weight: bold;
}

.newsbody .tt a {
	display: flex;
	align-items: center;
	font-size: 18px;
	text-decoration: none;
	color: #333;
}

.newsbody .parg p {
	font-size: 14px;
	line-height: 6vw;
	color: #666;
}

.newsbody .info {
	font-size: 12px;
	padding-top: 2vw;
}

.newsbody .info a {
	color: #ff6c3a;
	text-decoration: none;
}

.vsbox {
	margin: 0 auto;
}

.vsbox .box {
	margin: 0 2vw;
}

.vsbox .vsico {
	text-align: center;
	padding: 3vw 0;
}

.vsbox .vsico img {
	height: 25vw;
}

.vsbox dl {
	background: #f2f2f2;
}

.vsbox dl dt {
	display: flex;
	background: #e4e4e4;
	align-items: center;
	padding-left: 3vw;
	font-size: 14px;
	font-weight: bold;
	color: #333;
	height: 10vw;
}

.vsbox dl dd {
	background: #e4e4e4;
	padding-left: 8vw;
	height: 10vw;
	display: flex;
	align-items: center;
	font-size: 12px;
}

.vsbox dl dd:nth-child(even) {
	background-color: #fff;
	background-size: 3vw 3vw;
}

.vsbox .yes dd {
	background: url(../imgs/yes.png) left 3vw center no-repeat;
	background-size: 3vw 3vw;
}

.vsbox .no dd {
	background: url(../imgs/no.png) left 3vw center no-repeat;
	background-size: 3vw 3vw;
}

.tj {
	padding: 2vw 2vw 5vw 2vw;
}

.tj .advs {
	margin-bottom: 2vw;
	text-align: center;
}

.tj .advs img {
	width: 100%;
}

.tj table {
	width: 100%;
	font-size: 12px;
}

.tj table td {
	line-height: 1.5;
	font-size: 12px;
	border: 1px solid #fff;
	background: #f2f2f2;
	padding: 2vw;
}

.seostep {
	padding: 0 0 0vw 0vw;
	display: flex;
	margin: 0 auto;
	align-items: center;
	flex-wrap: wrap;
}

.seostep dl {
	width: 100%;
	margin: 0 0vw 0vw 0;
	height: 31vw;
	background: #f2f2f2;
	box-sizing: border-box;
	padding: 0vw;
}

.seostep dl dt {
	font-size: 18px;
	font-weight: bold;
	display: flex;
	padding: 3vw 0;
	align-items: center;
}

.seostep dl dt img {
	margin-right: 2vw;
	height: 5vw;
}

.seostep dl dd {
	font-size: 12px;
	line-height: 4vw;
	width: 19.2vw;
	height: 15vw;
	margin: 0 1vw 1vw 0;
	background: #fff;
	box-sizing: border-box;
	text-align: center;
	float: left;
	padding: 2vw;
}

.seostep dl dd:nth-child(5n) {
	margin-right: 0;
}

.seostep dl dd.x_on {
	background: #ff7e45;
	color: #fff;
}

.seobox {
	margin: 0 auto;
	background: url(../imgs/seo-audit.png) top 3vw center no-repeat;
	background-size: 50vw auto;
	padding-top: 50vw;
}

.seobox1 {
	background: url(../imgs/seo-audit.png) top 3vw center no-repeat;
	background-size: 50vw auto;
}

.seobox2 {
	background: url(../imgs/seo-audit2.png) top 3vw center no-repeat;
	background-size: 50vw auto;
}

.seobox3 {
	background: url(../imgs/seo-audit3.png) top 3vw center no-repeat;
	background-size: 50vw auto;
}

.seobox4 {
	background: url(../imgs/seo-audit4.png) top 3vw center no-repeat;
	background-size: 50vw auto;
}

.seobox5 {
	background: url(../imgs/seo-audit5.png) top 3vw center no-repeat;
	background-size: 50vw auto;
}

.seobox6 {
	background: url(../imgs/seo-audit6.png) top 3vw center no-repeat;
	background-size: 50vw auto;
}

.seobox7 {
	background: url(../imgs/seo-audit7.png) top 3vw center no-repeat;
	background-size: 50vw auto;
}

.seobox8 {
	background: url(../imgs/seo-audit8.png) top 3vw center no-repeat;
	background-size: 50vw auto;
}

.seobox9 {
	background: url(../imgs/seo-audit9.png) top 3vw center no-repeat;
	background-size: 50vw auto;
}

.seobox10 {
	background: url(../imgs/seo-audit10.png) top 3vw center no-repeat;
	background-size: 50vw auto;
}

.seobox11 {
	background: url(../imgs/seo-audit11.png) top 3vw center no-repeat;
	background-size: 50vw auto;
}

.seobox12 {
	background: url(../imgs/seo-audit12.png) top 3vw center no-repeat;
	background-size: 50vw auto;
}

.seobox13 {
	background: url(../imgs/seo-audit13.png) top 3vw center no-repeat;
	background-size: 50vw auto;
}

.seobox14 {
	background: url(../imgs/seo-audit14.png) top 3vw center no-repeat;
	background-size: 50vw auto;
}

.seobox15 {
	background: url(../imgs/seo-audit15.png) top 3vw center no-repeat;
	background-size: 50vw auto;
}

.seobox16 {
	background: url(../imgs/seo-audit16.png) top 3vw center no-repeat;
	background-size: 50vw auto;
}

.seobox17 {
	background: url(../imgs/seo-audit17.png) top 3vw center no-repeat;
	background-size: 50vw auto;
}

.seobox18 {
	background: url(../imgs/seo-audit18.png) top 3vw center no-repeat;
	background-size: 50vw auto;
}

.seobox19 {
	background: url(../imgs/seo-audit19.png) top 3vw center no-repeat;
	background-size: 50vw auto;
}

.seobox20 {
	background: url(../imgs/seo-audit20.png) top 3vw center no-repeat;
	background-size: 50vw auto;
}

.seobox21 {
	background: url(../imgs/seo-audit21.png) top 3vw center no-repeat;
	background-size: 50vw auto;
}

.seobox22 {
	background: url(../imgs/seo-audit22.png) top 3vw center no-repeat;
	background-size: 90vw auto;
	padding-top: 73vw;
}

.seobox ul li {
	height: 10vw;
	font-size: 14px;
	color: #666;
	padding-left: 5vw;
	display: flex;
	align-items: center;
	position: relative;
	margin-left: 20px;
}

.seobox ul li::before {
	left: 0;
	top: 3.5vw;
	position: absolute;
	content: " ";
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 4.5px 0 4.5px 9px;
	border-color: transparent transparent transparent #ff6c3a;
}

.seobox21 ul li {
	height: 70vw;
	font-size: 16px;
	padding: 0;
	margin: 0 2vw;
	line-height: 8vw;
}

.seobox21 ul li::before {
	border-style: unset;
}

.ask {
	padding-top: 2vw;
	text-align: center;
	/*background: #fff;*/
}

.ask a {
	display: inline-block;
	font-size: 14px;
	text-transform: uppercase;
	padding: 2vw 5vw;
	border-radius: 2px;
	color: #fff;
	text-decoration: none;
	font-weight: bold;
	position: relative;
	overflow: hidden;
	background: #ff6c3a;
	border-bottom: 3px solid rgba(0, 0, 0, 0.4);
}

.viimg img {
	width: 100%;
}

.vilist {
	padding: 0 2vw 5vw;
}

.vilist li {
	font-size: 14px;
	padding: 2vw 0;
	list-style: none;
}

.cases {
	overflow: hidden;
}

.arc {
	margin: 2vw;
	overflow: hidden;
	background: #fff;
	padding: 2vw;
}

.arc .content h2 {
	font-size: 22px;
	font-weight: bold;
	padding: 3vw 3vw;
	text-align: center;
}

.arc .right {
	display: none;
}

.arc article {
	padding-bottom: 5vw;
	text-align: justify;
	font-size: 16px;
	line-height: 1.8;
	color: #666;
}

.arc .infos {
	padding: 2vw 3vw;
	font-size: 14px;
	text-align: center;
	color: #333;
}


.arc .desc {
	padding: 2vw;
	background: #f2f2f2;
	font-size: 12px;
	line-height: 1.8;
}

.arc .nextprev p {
	font-size: 14px;
	padding: 2vw;
	display: flex;
	align-items: center;
}

.arc .nextprev p a {
	color: #666;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	display: flex;
	width: 70vw;
}

.seo {
	background: #f9f9f9;
}

.b30 {
	height: 1vw;
	clear: both;
}

.nav_lift {
	display: none;
}

.ion_4tu img {
	width: 24%;
}

.servicelist dd span {
	font-size: 12px;
	background: #edf5ff;
	border-radius: 5px;
	display: block;
	float: left;
	width: 15vw;
	margin-right: 1vw;
	text-align: center;
	margin-bottom: 10px;
	color: #619beb;
	padding: 0px 1vw;
}

.servicelist dd span:nth-child(2) {
	background: #edfaf7;
	color: #54c9a9;
}

.servicelist dd span:nth-child(3) {
	background: #fff0f2;
	color: #ed6a7c;
	margin-right: 0px;
}

.servicelist dd a {
	background: #fff;
	color: #ee697e;
	display: flex;
	height: 8vw;
	width: 24vw;
	text-decoration: none;
	align-items: center;
	font-size: 14px;
	box-sizing: border-box;
	justify-content: center;
	border: 1px solid #ee697e;
	margin: 3vw auto;
	border-radius: 5px;
}

.servicelist1 {
	display: flex;
	padding: 0 2vw;
}

.servicelist1 dl {
	width: 96vw;
	height: 40vw;
	padding: 0;
	background: url(../images/yd_img_1.jpg) no-repeat;
	margin-bottom: 2vw;
	background-size: 100%;
}

.servicelist1 dl.sy1 {
	background: url(../images/yd_img_5.jpg) no-repeat;
	background-size: 100%;
}

.servicelist1 dl.sy2 {
	background: url(../images/yd_img_2.jpg) no-repeat;
	background-size: 100%;
}

.servicelist1 dl.sy3 {
	background: url(../images/yd_img_3.jpg) no-repeat;
	background-size: 100%;
}

.servicelist1 dl.sy4 {
	background: url(../images/yd_img_4.jpg) no-repeat;
	background-size: 100%;
}

.servicelist1 dl.sy5 {
	background: url(../images/yd_img_5.jpg) no-repeat;
	background-size: 100%;
}

.servicelist1 dl.sy6 {
	background: url(../images/yd_img_6.jpg) no-repeat;
	background-size: 100%;
}

.servicelist1 dl.sy7 {
	background: url(../images/yd_img_7.jpg) no-repeat;
	background-size: 100%;
}

.servicelist1 dl.sy8 {
	background: url(../images/yd_img_8.jpg) no-repeat;
	background-size: 100%;
}

.servicelist1 dl.sy9 {
	background: url(../images/yd_img_9.jpg) no-repeat;
	background-size: 100%;
}

.servicelist1 dl.sy10 {
	background: url(../images/yd_img_10.jpg) no-repeat;
	background-size: 100%;
}



.servicelist1 dd {
	padding: 3vw 0 0 5vw;
	margin-bottom: 2vw;
}

.servicelist1 dd strong {
	padding: 1vw 0 0 0;
	display: block;
	text-align: left;
	font-size: 20px;
	font-weight: bold;
}

.servicelist1 dd.lan_2 {
	padding: 0vw 0 0 8vw;
}

.servicelist1 dd .an_2 {
	background: #fff;
	color: #ff6c3a;
	display: flex;
	height: 8vw;
	width: 26vw;
	text-decoration: none;
	align-items: center;
	font-size: 14px;
	box-sizing: border-box;
	justify-content: center;
	border: 1px solid #ff6c3a;
	margin: 0vw 0 0 3vw;
}

.servicelist1 dd.lan_2 p {
	font-size: 12px;
	color: #464545;
	text-align: left;
}

.servicelist1 dd.lan_3 {
	padding: 1vw 0 0 5vw;
	margin-bottom: 2vw;
}

.yd_fd {
	background: #2d2d2d;
	height: 16vw;
	width: 100%;
	position: fixed;
	z-index: 99997;
	bottom: 0;
}

.yd_fd .fd_l {
	display: block;
	float: left;
	background: #f85415;
	height: 16vw;
	color: #fff;
	width: 24vw;
	line-height: 16vw;
	text-align: center;
	font-size: 16px;
}

.yd_fd .fd_r {
	display: block;
	float: left;
	height: 16vw;
	color: #fff;
	width: 66vw;
	line-height: 5.4vw;
	text-align: left;
	font-size: 14px;
	margin: 2vw 0 0 6vw;
}

.yd_fd .fd_r span {
	color: #d3450e;
}

.jj_con {
	padding: 0;
}

.jj_con dl {
	width: 100vw;
	margin-bottom: 0;
}

.con_lift {
	width: 94vw;
	margin: 0 auto;
}

.con_lift .con_title2 {
	color: #363636;
	margin-bottom: 10px;
}

.con_lift span {
	display: block;
	height: 8vw;
	color: #363636;
	font-weight: bold;
	font-size: 20px;
	text-align: center;
}

.con_title2 p {
	display: block;
	height: 0.6vw;
	background: #ff6a6a;
	width: 14vw;
	margin: 2vw auto 1vw;
}

.jj_con_js .lan_1 {
	color: #4a4a4a;
	font-size: 14px;
	line-height: 7vw;
	margin-bottom: 0vw;
	text-align: left;
}

.jj_con_js .lan_2 {
	color: #2c2a2a;
	font-size: 14px;
	line-height: 7vw;
	margin-bottom: 0vw;
	text-align: left;
}

.jj_con_js dd .an_1 {
	background: #fff;
	color: #ff6c3a;
	display: flex;
	height: 10vw;
	width: 27vw;
	text-decoration: none;
	align-items: center;
	font-size: 14px;
	box-sizing: border-box;
	justify-content: center;
	border: 1px solid #ff6c3a;
	margin: 3vw 0 4vw 14vw;
}

.jj_con_js dd .an_2 {
	background: #ff6a6a;
	color: #fff;
	display: flex;
	height: 10vw;
	width: 30vw;
	text-decoration: none;
	align-items: center;
	font-size: 14px;
	box-sizing: border-box;
	justify-content: center;
	margin: 3vw 0 4vw 10vw;
}

.jj_con_gg .gnle span {
	font-size: 12px;
	background: #f4f4f4;
	border-radius: 25px;
	display: block;
	float: left;
	height: 9vw;
	line-height: 9vw;
	width: 20vw;
	margin-right: 4vw;
	text-align: center;
	margin-bottom: 3vw;
	color: #585858;
	font-weight: normal;
}

.jj_con_gg .gnle span:nth-child(4n) {
	margin-right: 0vw;
}

.jj_con_gg .gnle a {
	color: #f95050;
	font-size: 14px;
	display: block;
	line-height: 10vw;
}

.jj_con_ts img {
	width: 100%;
}

.con_yycj li {
	float: left;
	width: 46vw;
	margin-right: 2vw;
}

.con_yycj li:nth-child(2n) {
	margin-right: 0vw;
}

.con_yy_bt {
	font-size: 18px;
	font-weight: bold;
	height: 9vw;
	line-height: 8vw;
}

.con_yy_js {
	color: #4a4a4a;
	font-size: 14px;
	line-height: 1.5;
}

.sy10 {
	text-align: center;
}


.page_fy {
	width: 100%;
	text-align: center;
	margin: 4vw auto;
	overflow: hidden;
}

.page_fy a {
	margin: 1vw;
	display: inline-block;
	height: 9vw;
	line-height: 9vw;
	border: #eee 1px solid;
	text-decoration: none;
	padding: 0px 4vw;
	background: #fff;
	font-size: 14px;
	color: #3c3b3b;
}

.page_fy .current {
	margin: 1vw;
	display: inline-block;
	color: #FFF;
	font-weight: bold;
	height: 9vw;
	line-height: 9vw;
	border: #FE5E08 1px solid;
	background-color: #FE5E08;
	padding: 0px 4vw;
	font-size: 14px;
}

.page_fy a:hover {
	color: #FE5E08;
	border: #FE5E08 1px solid;
}

.CenterPromptbox {
	width: 80vw;

	background-color: #fff;
	position: fixed;
	margin: 0;
	display: block;
	z-index: 10010;
	max-width: none;
	overflow: visible;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	padding: 0;
	border-radius: 10px;
	background: #fff;
	box-shadow: 0 2px 30px 0 rgba(0, 0, 0, .3);
}

.CenterPromptbox .title {
	padding: 5vw 0 0vw 0;
}

.closedthismask {
	cursor: pointer;
	position: absolute;
	top: 2vw;
	right: 1vw;
	width: 5vw;
	height: 6vw;
	z-index: 100;
}

.dialogBox .title strong {

	font-size: 22px;
	font-weight: normal;
}

.dialogBox .title p {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 3vw 6vw;
	font-size: 14px;
	color: #666;
	line-height: 1.8;
	text-align: center;
	padding-top: 0vw;

}

.tijiao {
	text-align: center;
}

.tijiao input {
	border: 1px solid #f58351;
	border-radius: 4px;
	outline: 0;
	width: 62vw;
	line-height: 10vw;
	font-size: 14px;
	color: #ccc;
	padding-left: 2vw;
	margin-bottom: 5vw;
}

.tijiao input.tjan {

	background: #ee2e2c;


	color: #fff;


}

.tijiao textarea {
	border: 1px solid #f58351;
	border-radius: 4px;
	outline: 0;
	width: 62vw;
	height: 20vw;
	line-height: 10vw;
	font-size: 14px;
	color: #ccc;
	padding-left: 2vw;
	margin-bottom: 3vw;
	overflow: hidden;
	resize: none;

}

.tj_wc .title {
	text-align: center;
}

.tj_wc .tijiao p {
	text-align: left;
	font-size: 14px;
	color: #686060;
	margin: 0vw 4vw;
	background: #f4f2f2;
	padding: 2vw 3vw;
	border-radius: 3px;
}

.tj_wc .tijiao p span {
	color: #3933b8;
}

.tj_wc .tijiao .tj_zd {
	background: #fe8d25;
	color: #fff;
	margin-top: 4vw;
}

.seostep dl {
	width: 100%;
	margin: 0 0vw 0vw 0;
	height: 35vw;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	background: #f2f2f2;
	box-sizing: border-box;
	padding: 0vw;
}

.seostep dl dd {
	font-size: 12px;
	line-height: 5vw;
	width: 24%;
	height: 15vw;
	margin: 1vw 0vw 1vw 0;
	background: #fff;
	box-sizing: border-box;
	text-align: center;
	float: left;
	padding: 2vw;
}


.servicelist1 dl {
	height: 42vw;
}

.servicelist1 dl.sy1 {
	background: url(../images/yd_img_5.jpg) no-repeat;
	background-size: cover;
}

.div_1 {
	width: 100%;
	text-align: center;
}

.an_item {
	width: 39%;
    display: inline-block;
    height: 2.2rem;
    margin: 1rem 0;
    text-decoration: none;
    font-size: .83rem;
    line-height: 2.2rem;
    color: #ffffff;
    text-align: center;
    border-radius: 500px;
    background-color: #009efc;
    background-image: linear-gradient(to right, #00caf0 , #009efc);
}

